In [62]:
import numpy as np
import pandas as pd

In [63]:
place =pd.read_csv('Top Indian Places to Visit.csv')

In [16]:
trip.head(2)

,Unnamed: 0,Zone,State,City,Name,Type,Establishment Year,time needed to visit in hrs,Google review rating,Entrance Fee in INR,Airport with 50km Radius,Weekly Off,Significance,DSLR Allowed,Number of google review in lakhs,Best Time to visit
0,0,Northern,Delhi,Delhi,India Gate,War Memorial,1921,0.5,4.6,0,Yes,NaN,Historical,Yes,2.6,Evening
1,1,Northern,Delhi,Delhi,Humayun's Tomb,Tomb,1572,2.0,4.5,30,Yes,NaN,Historical,Yes,0.4,Afternoon

In [17]:
trip.shape

(325, 16)

In [64]:
place=place[['Zone','State','City','Name','Type','Significance','DSLR Allowed']]

In [67]:
place.shape

(325, 7)

In [34]:
trip.head(2)

,Zone,State,City,Name,Type,Significance,DSLR Allowed
0,Northern,Delhi,Delhi,India Gate,War Memorial,Historical,Yes
1,Northern,Delhi,Delhi,Humayun's Tomb,Tomb,Historical,Yes

In [68]:
place.dropna(inplace=True)

In [23]:
trip.shape

(325, 7)

In [69]:
place['Type']=place['Type'].str.replace(' ','',regex=False)

In [73]:
place.head(2)

,Zone,State,City,Name,Type,Significance,DSLR Allowed
0,Northern,Delhi,Delhi,India Gate,WarMemorial,Historical,Yes
1,Northern,Delhi,Delhi,Humayun's Tomb,Tomb,Historical,Yes

In [74]:
place['tags']=place['Zone']+' '+place['State']+' '+place['City']+' '+place['Type']+' '+place['Significance']+' '+place['DSLR Allowed']

In [75]:
place.head(2)

,Zone,State,City,Name,Type,Significance,DSLR Allowed,tags
0,Northern,Delhi,Delhi,India Gate,WarMemorial,Historical,Yes,Northern Delhi Delhi WarMemorial Historical Yes
1,Northern,Delhi,Delhi,Humayun's Tomb,Tomb,Historical,Yes,Northern Delhi Delhi Tomb Historical Yes

In [76]:
new = trip.drop(columns=['Zone','State','City','Type','Significance','DSLR Allowed'])

In [77]:
new.head(2)

             Name                                             tags
0      India Gate  Northern Delhi Delhi WarMemorial Historical Yes
1  Humayun's Tomb         Northern Delhi Delhi Tomb Historical Yes

In [78]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [79]:
vector = cv.fit_transform(new['tags']).toarray()

In [80]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vector)
similarity
new[new['Name'] == 'India Gate'].index[0]

0

In [81]:
def recommend(place):
    index = new[new['Name'] == place].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(new.iloc[i[0]].Name)

In [82]:
recommend('India Gate')

Humayun's Tomb
Red Fort
Agrasen ki Baoli
Qutub Minar
Jama Masjid

In [84]:
import pickle
pickle.dump(new,open('place_list.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))